.profileBlock {
    margin-top: 100px;
    color:rgb(247, 233, 247);
    text-shadow: black 1px 1px 0, black -1px -1px 0,
                 black -1px 1px 0, black 1px -1px 0;
    max-width: 500px;
    margin: 150px auto;
    padding: 25px;
    border: 2px solid rgba(196, 211, 238, 0.815);
    background-color: #4b6bb71f;
}

.logoutBlock {
    position: absolute;
    top: 80px;
    right: 0px;
    font-size: 18px;

}

.logout {
    font-size: 18px;
}

.avatar {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
    background-size: cover;
    background-position: center center;
    background-clip: padding-box;
}